@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*,*:before,*:after{
    box-sizing: border-box;
	//outline: solid 1px ;
}

body{
	font-family: "Roboto", "Noto Sans TC", sans-serif;
	line-height: 1.5;
	font-size: 1.5rem;
}

img{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
a{
	display: inline-block;
	text-decoration: none;
	color: inherit; 
}



// 共通class

.container{
	max-width: 1296px;
	margin: 0 auto;
}

@include  max-md{
	.container{
		padding-right: 30px;
		padding-left: 30px;
	}
}

.secondary_color{
	color: #FBF2F2;
}

.d-flex{
	display: flex;
}

.mr-16{
	margin-right: 64px;
}

.mr-12{
	margin-right: 48px;
}

.mb-9{
	margin-bottom: 36px;
}

.mb-8{
	margin-bottom: 32px;
}

.section-h2-r{
	color: $secondary;
	font-size: 48px;
	font-weight: bold;
	padding-bottom: 36.5px;
}

.section-h2-w{
	color: #FFFFFF;
	font-size: 48px;
	font-weight: bold;
	padding-bottom: 36.5px;
}
.title-center{
	text-align: center;
}

@include  mobile{
	.section-h2-r , .section-h2-w {
		font-size: 24px;
	}
}
