<footer class="footer">
    <div class="container">
        <div class="footer-desc d-flex">
        <div class="footer-desc-list">
            <ol class="footer-list d-flex">
                <li><a href="../pages/index.html">首頁</a></li>
                <li><a href="../pages/contact.html">系列鏡框</a></li>
                <li><a href="#">門市據點</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href="#">常見問題</a></li>
            </ol>
            <div class="footer-info" >
            <div class="footer-info-title d-flex">
                <span class="material-symbols-outlined">
                phone
                </span>
                <p>0800-000-000</p>
            </div>
            <div class="footer-info-title d-flex">
                <span class="material-symbols-outlined">
                mail
                </span>
                <p>glasses@business.com</p>
            </div>
        </div>
           
        </div>
        <div class="footer-icon">
            <img src="../assets/images/ic-social-fb.png" alt="fb">
            <img src="../assets/images/ic_social_ig.png" alt="ig">
            <img src="../assets/images/ic_social_line.png" alt="line">
        </div>
        </div>

        <hr>
        <div class="footer-title d-flex">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <div class="d-flex">
                <p class="mr-12">隱私權政策</p>
                <p>服務條款</p>
            </div>
        </div>
    </div>

</footer>
