<footer class="footer">
    <div class="container">
        <div class="footer-desc d-flex">
        <div class="footer-desc-list">
            <ul class="footer-list d-flex">
                <li><a href="index.html">首頁</a></li>
                <li><a href="contact.html">系列鏡框</a></li>
                <li><a href="#">門市據點</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href="#">常見問題</a></li>
            </ul>
            <div class="footer-info" >
            <div class="footer-info-title d-flex">
                <span class="material-symbols-outlined">
                phone
                </span>
                <p><a href="tel:0800-000-000">0800-000-000</a></p>
            </div>
            <div class="footer-info-title d-flex">
                <span class="material-symbols-outlined">
                mail
                </span>
                <p><a href="mailto:glasses@business.com">glasses@business.com</a></p>
            </div>
        </div>
           
        </div>
        <div class="footer-icon">
            <a href="#"><img src="../assets/images/ic-social-fb.png" alt="fb"></a>
            <a href="#"><img src="../assets/images/ic_social_ig.png" alt="ig"></a>
            <a href="#"><img src="../assets/images/ic_social_line.png" alt="line"></a>
        </div>
        </div>

        <hr>
        <div class="footer-title d-flex">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <div class="d-flex">
                <p class="mr-12"><a href="#">隱私權政策</a></p>
                <p><a href="#">服務條款</a></p>
            </div>
        </div>
    </div>

</footer>
