<nav class="nav">
    <div class="nav-list container d-flex">
        <div class="nav-logo">
            <a href="index.html"><img src="../assets/images/logo-white.png" alt="logo-white"></a>
        </div>
        <div class="nav-column">
            <ul class="nav-title d-flex">
                <li class="mr-16"><a href="contact.html">系列鏡框</a></li>
                <li class="mr-16"><a href="#">門市據點</a></li>
                <li class="mr-16"><a href="#">部落格</a></li>
                <li><a href="#">常見問題</a></li>
            </ul>
        </div>
    </div>
</nav>
